<div class="min-h-full sticky top-0 z-50">
  <nav class="bg-gradient-to-r from-pink-500  to-yellow-300 drop-shadow ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="/">
              <img class="h-12 w-12" src="assets/img/logo.webp" alt="Logo">
            </a>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a *ngIf="routeIsActive('/')" href="/" class="bg-white text-black px-3 py-2 rounded-md text-sm font-medium">Főoldal</a>
              <a *ngIf="!routeIsActive('/')" href="/" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Főoldal</a>

              <a *ngIf="routeIsActive('/about')" href="/about" class="bg-white text-black px-3 py-2 rounded-md text-sm font-medium">Rólam</a>
              <a *ngIf="!routeIsActive('/about')" href="/about" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Rólam</a>

              <a *ngIf="routeIsActive('/calendar')" href="/calendar" class="bg-white text-black px-3 py-2 rounded-md text-sm font-medium">Menetrend</a>
              <a *ngIf="!routeIsActive('/calendar')" href="/calendar" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Menetrend</a>

              <a *ngIf="routeIsActive('/videos')" href="/videos" class="bg-white text-black px-3 py-2 rounded-md text-sm font-medium">Videók</a>
              <a *ngIf="!routeIsActive('/videos')" href="/videos" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Videók</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <a href="https://discord.agiica.com" class="button" target="_blank">
              <button type="button" class="inline-flex items-center px-2.5 py-2 rounded-full text-base font-medium text-white hover:bg-indigo-600">
                <span class="icon">
                  <i class="fab fa-discord"></i>
                </span>
              </button>
            </a>
            <a href="https://twitch.tv/agiica" class="button" target="_blank">
              <button type="button" class="inline-flex items-center px-3 py-2 rounded-full text-base font-medium text-white hover:bg-purple-800">
                <span class="icon">
                  <i class="fab fa-twitch"></i>
                </span>
              </button>
            </a>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden" id="burger">
          <!-- Mobile menu button -->
          <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <!-- Burger open icon -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" id="burger-open">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!-- Burger close icon -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" id="burger-close">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="md: hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a *ngIf="routeIsActive('/')" href="/" class="bg-white text-black block px-3 py-2 rounded-md text-base font-medium text-center">Főoldal</a>
        <a *ngIf="!routeIsActive('/')" href="/" class="text-white hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center">Főoldal</a>

        <a *ngIf="routeIsActive('/about')" href="/about" class="bg-white text-black block px-3 py-2 rounded-md text-base font-medium text-center" id="menu-item">Rólam</a>
        <a *ngIf="!routeIsActive('/about')" href="/about" class="text-white hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center" id="menu-item">Rólam</a>

        <a *ngIf="routeIsActive('/calendar')" href="/calendar" class="bg-white text-black block px-3 py-2 rounded-md text-base font-medium text-center" id="menu-item">Menetrend</a>
        <a *ngIf="!routeIsActive('/calendar')" href="/calendar" class="text-white hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center" id="menu-item">Menetrend</a>

        <a *ngIf="routeIsActive('/videos')" href="/videos" class="bg-white text-black block px-3 py-2 rounded-md text-base font-medium text-center" id="menu-item">Videók</a>
        <a *ngIf="!routeIsActive('/videos')" href="/videos" class="text-white hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center" id="menu-item">Videók</a>
      </div>
    </div>
  </nav>
</div>
