<nav class="navbar is-light is-fixed-top has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/img/logo.webp">
      </a>
      <span role="button" class="navbar-burger" id="burger">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div class="navbar-menu" id="nav-links">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/calendar">Menetrend</a>
      <a class="navbar-item" routerLink="/videos">Videók</a>
      <a class="navbar-item" routerLink="/about">Rólam</a>
      <a class="navbar-item" routerLink="/contact">Kapcsolat</a>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <span class="control">
              <a href="https://discord.agiica.com" class="button" target="_blank">
                <span>
                  Csatlakozz Discordra!
                </span>
                <span class="icon">
                  <i class="fab fa-discord"></i>
                </span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>