<!-- footer -->
<div class="footer">
  <div class="container content has-text-centered">
    <p>Made with ❤️ for Agiica</p>
    <ul class="social-icons">
      <!--<li><a href="#" class="social-icon"> <i class="fa fa-facebook"></i></a></li>-->
      <li><a href="https://twitter.com/agnesgrea" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
      <li><a href="https://youtube.agiica.com" class="social-icon"> <i class="fab fa-youtube"></i></a></li>
      <!--<li><a href="#" class="social-icon"> <i class="fa fa-instagram"></i></a></li>-->
      <!--<li><a href="#" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>-->
      <li><a href="https://github.com/vakesz/agiica_com" class="social-icon"> <i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</div>
