<section class="hero is-primary is-bold is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">About</h1>
      </div>
    </div>
  </section>
  
  <section class="section">
    <div class="container">
  
      <div class="box is-">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p><strong>Ágnes Zsiros</strong></p>
              <ul>
                <li>I'm 23 years old, and I live in Debrecen, Hungary in a happy relationship.</li>
                <li>I'm still attending University, and learning Engineering Management.</li>
                <li>Mostly I'm playing PUBG: Battleground, or Rainbow 6 Siege but from time to time, I play other FPS games as well.</li>
                <li>Rarely I'm playing Pummel Party, Fall Guys, etc, but mostly with viewers or friends.</li>
                <li>I love talking to people so please say Hi! :) If you show up on my stream.</li>
              </ul>
            </div>
          </div>
          <div class="media-right">
            <figure class="image is-64x64">
              <img src="assets/img/logo.webp" alt="Image">
            </figure>
          </div>
        </article>
      </div>
  
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p><strong>Achievements</strong></p>
              <ul>
                <li><strong>2021.09.21</strong> Reaching 1000 followers.</li>
                <li><strong>2021.05.05</strong> Hype train on 250%.</li>
                <li><strong>2021.03.19</strong> First level 5 Hype train.</li>
                <li><strong>2021.02.13</strong> First Hype train.</li>
                <li><strong>2021.02.01</strong> First stream on twitch.tv/agiica.</li>
              </ul>
            </div>
          </div>
          <div class="media-right">
            <figure class="image is-64x64">
              <img src="assets/img/trophy.webp" alt="Image">
            </figure>
          </div>
        </article>
      </div>
  
  
  
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p><strong>My setup</strong></p>
              <ul>
                <li><strong>CPU: </strong>AMD Ryzen 5 3600</li>
                <li><strong>VGA: </strong>GTX1660 Ti</li>
                <li><strong>Motherboard: </strong>ASUS ROG STRIX B450-F Gaming</li>
                <li><strong>RAM: </strong>HyperX Predator 3200 MHz 2x8 GB</li>
                <li><strong>SSD: </strong>Samsung 860 EVO 500 GB</li>
                <li><strong>PSU: </strong>ASUS ROG STRIX 750W GOLD</li>
                <li><strong>CPU Cooler: </strong>COOLER MASTER HYPER 212</li>
                <li><strong>Case: </strong>Zalman S4 Plus</li>
              </ul>
            </div>
          </div>
          <div class="media-right">
            <figure class="image is-64x64">
              <img src="assets/img/pc.webp" alt="Image">
            </figure>
          </div>
        </article>
      </div>
  
  
    </div>
  </section>
  