<section class="section">
    <div class="container">
      <form (ngSubmit)="submitForm()" #contactForm="ngForm">
        <!-- name -->
        <div class="field">
          <label class="label">Név</label>
          <input
            type="text"
            name="name"
            class="input"
            [(ngModel)]="name"
            #nameInput="ngModel"
            required>
          <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">A név megadása kötelező.</div>
        </div>
        <div class="field">
          <label class="label">Email</label>
          <input
            type="email"
            name="email"
            class="input"
            [(ngModel)]="email"
            #emailInput="ngModel"
            required
            email>
          <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">Érvényes email cím megadása kötelező.</div>
        </div>
        <div class="field">
            <label class="label">Üzenet</label>
            <textarea
              name="message"
              class="textarea"
              [(ngModel)]="message"
              #messageInput ="ngModel"
              required>
            </textarea>
          <div class="help is-error" *ngIf="messageInput.invalid && messageInput.touched">Üzenet megadása kötelező.</div>
        </div>
        <div class="field">
          <button
            type="submit"
            class="button is-medium is-warning"
            [disabled]="contactForm.invalid">
            Küldés
          </button>
        </div>
      </form>
    </div>
  </section>
