<div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between flex-wrap">
    <div class="w-0 flex-1 flex items-center">
      <p class="ml-3 font-medium truncate">
        <span>
          Időpont: 
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" [formControl]="date" (dateChange)="getCalendar()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </span>
      </p>
    </div>
    <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
      <a href="https://calendar.google.com/calendar/ical/bgudccobvjdigft93bk4njsvt0%40group.calendar.google.com/public/basic.ics" class="flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-black bg-gray-200 hover:bg-gray-400">
        <span class="icon">
          <i class="fa fa-calendar"></i>
        </span>
        &nbsp;Naptár felirakozás
      </a>
    </div>
  </div>
</div>

<div *ngFor="let items of calendarItems;let idx=index;trackBy:refreshOnDateChange;" [ngClass]="{'bg-white': idx%2==0, 'bg-pink-100': idx%2!=0}" id="calendar" class="max-w-screen-xl mt-4 px-8 grid grid-cols-4 gap-4 md:px-8 lg:px-8 xl:px-16 py-4 mx-auto rounded-lg shadow-lg">
  <div class="row-span-2 font-bold w-20 text-center rounded-t self-center" name="date">
      <div class="bg-red-500 text-white rounded-full py-2 px-6">
        {{items.start.dateTime.split(' ')[1]}}
      </div>
      <div class="pt-1">
          <span class="text-3xl font-bold">{{items.start.dateTime.split(' ')[2]}}</span>
      </div>
      <div class="pb-2 px-2 flex justify-between">
          <span class="text-xs font-bold">{{items.start.dateTime.split(' ')[3]}}</span>
          <span class="text-xs font-bold">{{items.start.dateTime.split(' ')[0]}}</span>
      </div>
  </div>
  <div class="col-span-2 px-4" name="title">
      <p class="font-bold align-middle">{{items.summary}}</p>
      <p class="font-light align-middle">{{items.start.dateTime.split(' ')[4]}} - {{items.end.dateTime}}</p>
  </div>
  <div name="logo">
    <img src="assets/img/r6.webp" class="w-10 h-10 float-right clear-right" alt="Rainbow 6 Siege" *ngIf="items.location == 'R6'">
    <img src="assets/img/pubg.webp" class="w-10 h-10 float-right clear-right" alt="PUBG" *ngIf="items.location == 'PUBG'">
    <img src="assets/img/valorant.webp" class="w-10 h-10 float-right clear-right" alt="VALORANT" *ngIf="items.location == 'VALORANT'">
    <img src="assets/img/chat.webp" class="w-10 h-10 float-right clear-right" alt="Just Chatting" *ngIf="items.location == 'CHAT'">
  </div>
  <div class="col-span-3 px-4 font-light" name="description">
      {{items.description}}
  </div>
</div>
