<section class="text-gray-700 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Sziasztok! 🙂
      </h1>
      <p class="mb-8 leading-relaxed">
        Ágica vagyok, egy 24 éves egyetemista, jelenleg műszaki menedzsernek tanulok. Szeretem az FPS játékokat,
        Geoguessert (Még akkor is ha gigarossz vagyok benne), illetve néhanapján 1-2 story játékkal is nyomom. A twitchen simán Ágicának ismer
        mindenki, nyugodtan hívhatsz te is így. Debrecenben élek boldog párkapcsolatban. Leginkább PUBG és R6 játékokkal játszom, de előfordulhat,
        hogy más FPS játékokat is kipróbálok. Alkalmanként előfordulhat más, könnyedebb játék is Pl. Pummel Party, Fall Guys, stb.
        Szeretek emberekkel beszélgetni, ha a streamemre tévedsz, dobj egy pacsit a chatre egész nyugodtan!
      </p>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded w-auto" alt="hero" src="assets/img/logo.webp">
    </div>
  </div>

  <div class="text-gray-700 body-font border-t border-gray-200"></div>

  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded w-auto" alt="hero" src="assets/img/accomplishment.webp">
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Teljesítmények
      </h1>
      <ul class="mb-8 leading-relaxed">
        <li><strong>2021.09.21</strong> 1000 követő elérése.</li>
        <li><strong>2021.05.05</strong> Lvl.5-ös hypevonat 250%-on.</li>
        <li><strong>2021.03.19</strong> Első Lvl. 5-ös szintű Hype-vonat.</li>
        <li><strong>2021.02.13</strong> Első Hype-vonat a csatornán.</li>
        <li><strong>2021.02.01</strong> Első stream a csatornán: twitch.tv/agiica.</li>
      </ul>
    </div>
  </div>

  <div class="text-gray-700 body-font border-t border-gray-200"></div>

  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Mivel nyomom?</h1>
      <h3 class="title-font sm:text-xl text-xl mb-4 font-normal text-gray-900">Gép</h3>
      <ul class="mb-8 leading-relaxed">
        <li><strong>Alaplap: </strong>ASUS ROG STRIX B450-F Gaming</li>
        <li><strong>Processzor: </strong>AMD Ryzen 5 3600</li>
        <li><strong>Processzor hűtő: </strong>COOLER MASTER HYPER 212</li>
        <li><strong>Videókártya: </strong>GTX1660 Ti</li>
        <li><strong>Memória: </strong>HyperX Predator 3200 MHz 2x8 GB</li>
        <li><strong>Tárhely: </strong>Samsung 860 EVO 500 GB</li>
        <li><strong>Tápegység: </strong>ASUS ROG STRIX 750W GOLD</li>
        <li><strong>Gépház: </strong>Zalman S4 Plus</li>
      </ul>
      <h3 class="title-font sm:text-xl text-xl mb-4 font-normal text-gray-900">Perifériák</h3>
      <ul class="mb-8 leading-relaxed">
        <li><strong>Egér: </strong>Logitech G Pro Superlight</li>
        <li><strong>Egérpad: </strong>Xray Aqua Control II - Agiica Edition</li>
        <li><strong>Billentyűzet: </strong>Xtrfy K4</li>
        <li><strong>Mikrofon: </strong>Elgato Wave 3</li>
        <li><strong>Kamera: </strong>Logitech C920, Logitech Streamcam</li>
        <li><strong>Világítás: </strong>Elgato Keylight Air</li>
        <li><strong>Egyéb: </strong>Elgato Streamdeck Mk2</li>
      </ul>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded w-auto" alt="hero" src="assets/img/pc.webp">
    </div>
  </div>
</section>
