<section class="hero is-primary is-bold is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">Rólam</h1>
      </div>
    </div>
  </section>
  
  <section class="section">
    <div class="container">
  
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p><strong>Ágnes Zsiros</strong></p>
              <p>Sziasztok! Ágica vagyok, egy 23 éves egyetemista, jelenleg műszaki menedzsernek tanulok. Szeretem az FPS játékokat, Geogeussrt 
                (Még akkor is ha gigarossz vagyok benne), illetve néha napján 1-2 story játékkal is nyomom. A twitchen simán Ágicának ismer mindenki, nyugodtan hívhatsz te is így.
                Debrecenben élek boldog párkapcsolatban. Leginkább PUBG és Valorant játékokkal játszom, de előfordulhat, hogy más FPS játékokat is kipróbálok
                Alkalmanként előfordulhat más, könnyedebb játék is Pl. Pummel Party, Fall Guys, stb. Szeretek emberekkel beszélgetni, ha a streamemre tévedsz, 
                dobj egy pacsit a chatre egész nyugodtan!</p>
            </div>
          </div>
          <div class="media-right">
            <figure class="image is-64x64">
              <img src="assets/img/logo.webp" alt="Image">
            </figure>
          </div>
        </article>
      </div>
  
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p><strong>Teljesítmények</strong></p>
              <ul>
                <li><strong>2021.09.21</strong> 1000 követő elérése.</li>
                <li><strong>2021.05.05</strong> Lvl.5-ös hypevonat 250%-on.</li>
                <li><strong>2021.03.19</strong> Első Lvl. 5-ös szintű Hype-vonat.</li>
                <li><strong>2021.02.13</strong> Első Hype-vonat a csatornán.</li>
                <li><strong>2021.02.01</strong> Első stream a csatornán: twitch.tv/agiica.</li>
              </ul>
            </div>
          </div>
          <div class="media-right">
            <figure class="image is-64x64">
              <img src="assets/img/trophy.webp" alt="Image">
            </figure>
          </div>
        </article>
      </div>
  
  
  
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p><strong>Mivel nyomom?</strong></p>
              <ul>
                <li><strong>Processzor: </strong>AMD Ryzen 5 3600</li>
                <li><strong>Videókártya: </strong>GTX1660 Ti</li>
                <li><strong>Alaplap: </strong>ASUS ROG STRIX B450-F Gaming</li>
                <li><strong>Memória: </strong>HyperX Predator 3200 MHz 2x8 GB</li>
                <li><strong>Tárhely: </strong>Samsung 860 EVO 500 GB</li>
                <li><strong>Tápegység: </strong>ASUS ROG STRIX 750W GOLD</li>
                <li><strong>Processzor hűtő: </strong>COOLER MASTER HYPER 212</li>
                <li><strong>Gépház: </strong>Zalman S4 Plus</li>
              </ul>
            </div>
          </div>
          <div class="media-right">
            <figure class="image is-64x64">
              <img src="assets/img/pc.webp" alt="Image">
            </figure>
          </div>
        </article>
      </div>
  
  
    </div>
  </section>
  