.hero {
    padding-top: 3.25rem;
    background-image: url('/assets/img/back.webp') !important;
    background-size: cover;
    background-position: center center;
}

.columns {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    justify-content: center;
}

.column {
    height: 300px;
    width: 400px;
    margin: 25px 25px 25px 25px;
}