<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">

    <!-- Column -->
    <div *ngFor="let video of videos" class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
          <img (click)="playVideo($event, video)" [src]="video.snippet.thumbnails.medium.url" alt="Thumbnail" class="block h-auto w-full" id="{{video.id.videoId}}">
        <header class="flex justify-center items-center leading-tight p-2 md:p-4 ">
          <h1 class="text-lg">
            {{video.snippet.title}}
          </h1>
        </header>

        <div class="px-6 py-4 text-center">
          <span class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600 mr-2">{{video.snippet.publishTime}}</span>
        </div>

      </article>

    </div>
    <!-- END Column -->

  </div>
</div>

<div class="hidden min-w-screen h-screen animated fadeIn faster fixed left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none" id="yt-modal">
  <div class="absolute bg-black opacity-80 inset-0 z-0" (click)="closeVideo($event)" id="modal-background"></div>
  <div class="w-full max-w-5xl relative shadow-lg ">
    <!--content-->
    <div class="">
      <!--body-->
      <div class="aspect-w-16 aspect-h-9">
        <iframe
          src=""
          width="640"
          height="360"
          id="iframe"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
