.hero {
    padding-top: 3.25rem;
    background-image: url('/assets/img/back.webp') !important;
    background-size: cover;
    background-position: center center;
}

.videobox {
    max-width: 400px;
}