.hero {
    padding-top: 3.25rem;
    background-image: url('/assets/img/back.webp') !important;
    background-size: cover;
    background-position: center center;
}

.columns {
    margin: 20px 0px 0px 0px !important;
    padding: 0px 20px 0px 20px !important;
    justify-content: center;
}

.column {
    margin: 0px 10px 20px 10px;
}